backend:
  redis:
    uri: "localhost:6379"

credential:
- type: "telegram"
  token: "your_token"
  alias: "telegram_credential_001"

output:
- type: "telegram-channel"
  credential: "telegram_credential_001"
  channel: "@your_channel_id"
  alias: "your_channel.out"
- type: "webhook"
  url: "https://your-webhook.com/webhook-endpoint"
  alias: "your_webhook"

listener:
- type: "scrapper"
  url: "https://your-website.com"
  interval: 1m
  selector:
    main: ".main"
    title: ".title"
    link: ".link"
  optional_http_code: 500
  target: "your_channel.out"
- type: "rss"
  url: "http://your-website.com/feed"
  interval: 1m
  target: "your_channel.out"
  format: "json"
